@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Roboto:400,500,700&display=swap");
//Configuraçoes padrão
$fonte-primaria: "Roboto",
sans-serif;
$fonte-secundaria: "Quicksand",
sans-serif;
$cor-primaria: #ff5c54;
$cor-secundaria: #2ad46e;
$cor-texto: rgb(255,
255,
255);
//Fim
//Pagina de Login
#tela-login {
    background: url("../imagens/bg-login.png");
    background-size: auto;
    color: black;
}

.item {
    position: relative;
    display: inline-block;
}

.circle-color {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
}

#caixa-login {
    padding-bottom: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 0px 10px #ccc;
    margin: 10em auto;
    h4 {
        font-size: 40px;
        font-family: $fonte-primaria;
        color: black;
        margin: 40px 0px 50px -15px;
        border-left: 10px solid #ff5c54;
        padding: 0px 0px 0px 25px;
    }
    form {
        padding: 0px 25px;
    }
    .btn-login {
        margin-left: 0;
        background: #ff5c54;
        color: white;
    }
}

#login {
    .card {
        background-color: white;
        margin-top: 40px;
    }
    form {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
    .btn-1 {
        width: 200px;
        height: 50px;
        border: none;
        color: white;
        background-color: red;
        border-radius: 4px;
        box-shadow: inset 0 0 0 0 red;
        transition: ease-in-out 0.3s;
        font-size: 1.5rem;
        outline: none;
        display: inline-block;
    }
    .btn-1:hover {
        box-shadow: inset 200px 0 0 0 green;
        cursor: pointer;
        color: black;
    }
    #divtavela {
        margin: 8px 12px 0px 8px;
    }
    #marginlogo {
        margin-top: 80px;
    }
    #margincard {
        margin-top: 80px;
    }
    #imglogo {
        margin-right: 2px;
    }
}

//cadastro
#cadastro {
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: 0.5em;
    }
    .container {
        margin-top: 100px;
    }
    .dataTables_filter {
        float: right;
    }
    .pagination {
        float: right;
    }
}

//Fim
form {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.btn-1 {
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 red;
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
    outline: none;
    display: inline-block;
}

.btn-1:hover {
    box-shadow: inset 200px 0 0 0 green;
    cursor: pointer;
    color: black;
}

#divtavela {
    margin: 8px 12px 0px 8px;
}

#marginlogo {
    margin-top: 80px;
}

#margincard {
    margin-top: 80px;
}

#imglogo {
    margin-right: 2px;
}


/*cadastro*/

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: 0.5em;
}

.container {
    margin-top: 100px;
}

.dataTables_filter {
    float: right;
}

.pagination {
    float: right;
}

#linechartcss {
    text-align: center;
    position: relative;
    //height:40vh;
    //width:80vw;
    //margin-left: 50px;
}

#barchartcss {
    text-align: center;
    position: relative;
    //height:40vh;
    //width:80vw;
    //margin-left: 50px;
}

// canvas{
//   margin: 0 auto;
//   margin-left: 50px;
//   }
.field-icon {
    width: 45px;
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.editButton {
    width: 28px;
}

.deleteButton {
    width: 32px;
}

.DarkGreyBGColor {
    background-color: #3e4551;
}

.DarkGreyColor {
    color: #3e4551;
}